*{
	color:#333;
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}
a{
	color:#08C;
	font-weight:bold;
	text-decoration:none;
}
/*
ul{
	list-style:none;
	padding-left:15px;
}
li{
	padding:5px;
}*/

input[type="text"],input[type="password"],input[type="email"],textarea{
	padding:7px 2px 7px 10px;
	line-height:24px;
	border-radius:5px;
	font-size:16px;
        max-width: 98%;
        max-height: 100%;
}
footer{
	box-sizing:border-box;
	width:100%;
	border-top:solid 3px #08C;
	padding:15px;
	background:rgba(0,0,0,0.5);
}
footer small{
	color:white;
}
#locationBar{
	height:30px;	
	background:#08C;
        border-radius: 5px;
}
#locationBar span{
	color:white;
	font-weight:bold;
	padding:7px 10px;
	display:inline-block;
}
#langSelect{
	float:right;
	display:block;
}


