*{
	color:#333;
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}
a{
	color:#08C;
	font-weight:bold;
	text-decoration:none;
}
ul{
	list-style:none;
	padding-left:15px;
}
li{
	padding:5px;
}

input[type="text"],input[type="password"],input[type="email"],textarea{
	padding:7px 2px 7px 10px;
	line-height:24px;
	border-radius:5px;
	font-size:16px;
}
header{
	width:100%;
}

footer{
	box-sizing:border-box;
	width:100%;
	border-top:solid 2px #08C;
	padding:15px;
	background:rgba(0,0,0,0.5);
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
footer small{
	color:white;
}
#locationBar{
	height:30px;	
	background:#08C;
        border-radius: 5px;
}
#locationBar span{
	color:white;
	font-weight:bold;
	padding:7px 10px;
	display:inline-block;
}
#langSelect{
	float:right;
	display:block;
}
#logo{
	width:20%;
	position:top;
	float:left;
}
#logo img{
	width:100%;
}
#topCenter{
	width:80%;
	height:100px;
	display:inline-block;
}

