html{
}
body{
	width:100%;
	max-width:900px;
	margin:auto;
	background:#f1f1f1;
}
.clear{
	clear:both;
}
.contentTop, .contentCenter, .contentBottom, .bottomLeft, .bottomCenter, .bottomRight{
    	background:#FFF;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
}
.contentTop, .contentCenter, .contentBottom{
        margin:1% 0px;
        overflow: auto;
}
.bottomLeft, .bottomCenter, .bottomRight{
	width:100%;
        height:250px;
        overflow:auto;
	margin:1% 0px;
}

@media all and (min-width: 600px) {
    .bottomLeft, .bottomCenter, .bottomRight{
            width:31%;
            margin:1%;
            float:left;
    }
}
